/_*
/data/database
/data/dynamics
/data/images
*.~*
*.dll
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.msi
*.wix*
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.LOCAL
*.BASE
*.REMOTE
*.orig
*.cab
/scripts/log.txt
/doc/Help/Working/*
*.chm
*.msha
*.mshc
*.Cache
*.zip
*.rar
*.bak
*.pdb
*.DotSettings.user

*.msimso
